@import './base.css';

#app {
  height: 100%;
  width: 100%;
  font-weight: normal;
  display: grid;
  grid-template-rows: auto 8rem;
}

@media (min-width: 1024px) {
  #app {
    grid-template-columns: 80% 20%;
    grid-template-rows: none;
  }
}
