// @import 'tailwindcss/base';
// @import 'tailwindcss/components';
// @import 'tailwindcss/utilities';

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.app {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  height: 100vh;
  width: 100%;
}

.board {
  flex: 1 1 80%;
  display: flex;
  width: 500px;
}

.sidebar {
  flex: 1 1 20%;
}
